<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.credit.dao.ReportMapper" >
  <resultMap id="BaseResultMap" type="com.credit.model.Report" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="applyId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="flowCost" jdbcType="DOUBLE" javaType="java.lang.Double" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, applyId, flowCost
  </sql>
  <select id="selectAll" resultMap="BaseResultMap"  >
    select *
    from report
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from report
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByApplyId" resultMap="BaseResultMap"  >
    select *
    from report
    where ApplyId = #{ApplyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from report
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.credit.model.Report" >
    insert into report (id, applyId, flowCost
      )
    values (#{id,jdbcType=INTEGER}, #{applyid,jdbcType=VARCHAR}, #{flowcost,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.credit.model.Report" >
    insert into report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applyid != null" >
        applyId,
      </if>
      <if test="flowcost != null" >
        flowCost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applyid != null" >
        #{applyid,jdbcType=VARCHAR},
      </if>
      <if test="flowcost != null" >
        #{flowcost,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.credit.model.Report" >
    update report
    <set >
      <if test="applyid != null" >
        applyId = #{applyid,jdbcType=VARCHAR},
      </if>
      <if test="flowcost != null" >
        flowCost = #{flowcost,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.credit.model.Report" >
    update report
    set applyId = #{applyid,jdbcType=VARCHAR},
      flowCost = #{flowcost,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>